@font-face {
    font-family: Besley;
    src: url("../fonts/Besley-Book.otf");
}

@font-face {
    font-family: Besley;
    src: url("../fonts/Besley-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: Avenir;
    src: url("../fonts/AvenirLTStd-Book.otf");
}

html {
    height: 100%;
}

body {
    background-image: url("../images/bg_home.png") !important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
    background-position: top -120px center !important;
    background: #fff;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#header-scene {
    /* background-image: url("../img/Limited.png"), url("https://essepop.id/img/donats.png");
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 800px;
    background-attachment: fixed, fixed!important;
    background-position: bottom 100px left 25%, top center; */
    height: 100vh !important;
}

#howto-scene {
    height: auto;
    margin-top: 50px;
}

#prize-scene {
    height: auto;
}

#letspopuot-scene {
    height: auto;
    margin-top: 150px;
}

#pop-logo {
    background-image: url("../img/donat.png");
    background-repeat: no-repeat;
    background-size: 40%;
    position: absolute;
    background-attachment: fixed;
    background-position: top center;
    z-index: 100;
    width: 100%;
    height: 100%;
}

#limited {
    background-image: url("../img/Limited.png");
    background-repeat: no-repeat;
    background-size: 300px;
    position: absolute;
    background-attachment: fixed;
    background-position: bottom 100px left 25%;
    z-index: 100;
    width: 100%;
    height: 100%;
}

#char-mobile {
    /* background-image: url("../img/pop-character-mobile.png"); */
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    background-position: bottom 50px center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    z-index: 1;
}

#c1 {
    background-image: url("../img/character/c1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    /* border: solid 1px #111; */
    background-attachment: fixed;
    z-index: 1;
}

#c2 {
    background-image: url("../img/character/c2.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    /* border: solid 1px #111; */
    background-attachment: fixed;
    z-index: 2;
}

#c3 {
    background-image: url("../img/character/c3.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    /* border: solid 1px #111; */
    background-attachment: fixed;
    z-index: 1;
}

#c4 {
    background-image: url("../img/character/c4.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    /* border: solid 1px #111; */
    background-attachment: fixed;
    z-index: 2;
}

#c5 {
    background-image: url("../img/character/c5.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    /* border: solid 1px #111; */
    background-attachment: fixed;
    z-index: 1;
}

#c6 {
    background-image: url("../img/character/c6.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    /* border: solid 1px #111; */
    background-attachment: fixed;
    z-index: 2;
}

#c7 {
    background-image: url("../img/character/c7.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    /* border: solid 1px #111; */
    background-attachment: fixed;
    z-index: 1;
}

#c8 {
    background-image: url("../img/character/c8.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    /* border: solid 1px #111; */
    background-attachment: fixed;
    z-index: 2;
}

#c9 {
    background-image: url("../img/character/c9.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    /* border: solid 1px #111; */
    background-attachment: fixed;
    z-index: 2;
}

#c10 {
    background-image: url("../img/character/c10.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    /* border: solid 1px #111; */
    background-attachment: fixed;
    z-index: 1;
}

.header-arrow {
    position: absolute;
    bottom: 0;
    margin: auto auto;
}

.home-scene {
    padding-top: 230px;
    padding-bottom: 100px;
}

.img-main {
    position: relative;
    top: 0;
    left: 0;
    z-index: 90;
}

.img-comp {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 80;
}

.btn {
    border-radius: 0px;
}

.popout-bt img {
    -webkit-transition: -webkit-transform 0.5s !important;
    transition: transform 0.5s !important;
}

.popout-bt:hover img {
    -webkit-transform: scale(1.2) rotate(0.01deg) !important;
    transform: scale(1.2) rotate(0.01deg) !important;
}


/* The emerging W3C standard
   that is currently Firefox-only */


/* * {
    scrollbar-width: thin;
    scrollbar-color: #EB0085 #231F20;
  } */


/* Works on Chrome/Edge/Safari */


/* *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: #222;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #EB0085;
    border-radius: 20px;
    border: 3px solid #231F20;
  } */

.join-bt {
    position: fixed;
    bottom: 83px;
    right: 50px;
    width: 300px;
    z-index: 1000;
}

.join-bt img {
    width: 300px;
}

.peringatan-left {
    width: 110px;
}

.peringatan-center {
    width: 500px;
}

.peringatan-right {
    width: 50px;
}

.pop-icon {
    width: 150px;
}

.show-your-pop {
    width: 650px;
}

.menangkan-hadiah {
    width: 650px;
}

.lets-pop {
    width: 650px;
}

.photo-bt {
    padding-top: 100px;
}

.video-bt {
    padding-top: 100px;
}

.pop-row {
    padding-top: 70px;
    height: 500px;
}

.modal-scrollbar-measure {
    overflow: hidden !Important;
}

select,
input {
    padding: 5px 10px;
    border: solid 1px #cc0475;
    border-radius: 5px;
}

.btn-primary {
    background-color: #EB0686;
    border: solid 1px #EB0686;
    border-radius: 7px;
}

.btn-primary:hover {
    background-color: #cc0475;
    border: solid 1px #cc0475;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #ccc;
    border: solid 1px #ccc;
}

.modal-backdrop.show {
    opacity: .7;
}

.modal-backdrop {
    background-color: #fff;
}

.modal-content {
    -webkit-box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
    -o-box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
    border: solid 1px #000;
    border-radius: 10px;
}


/* Firefox old*/

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* IE */

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Opera and prob css3 final iteration */

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.blink-image {
    -moz-animation: blink normal 1s infinite ease-in-out;
    /* Firefox */
    -webkit-animation: blink normal 1s infinite ease-in-out;
    /* Webkit */
    -ms-animation: blink normal 1s infinite ease-in-out;
    /* IE */
    animation: blink normal 1s infinite ease-in-out;
    /* Opera and prob css3 final iteration */
}

.blink-image-2 {
    -moz-animation: blink normal 1.5s infinite ease-in-out;
    /* Firefox */
    -webkit-animation: blink normal 1.5s infinite ease-in-out;
    /* Webkit */
    -ms-animation: blink normal 1.5s infinite ease-in-out;
    /* IE */
    animation: blink normal 1.5s infinite ease-in-out;
    /* Opera and prob css3 final iteration */
}

.blink-image-3 {
    -moz-animation: blink normal 1.2s infinite ease-in-out;
    /* Firefox */
    -webkit-animation: blink normal 1.2s infinite ease-in-out;
    /* Webkit */
    -ms-animation: blink normal 1.2s infinite ease-in-out;
    /* IE */
    animation: blink normal 1.2s infinite ease-in-out;
    /* Opera and prob css3 final iteration */
}

.shake-image {
    -moz-animation: shake normal 1s infinite;
    /* Firefox */
    -webkit-animation: shake normal 1s infinite;
    /* Webkit */
    -ms-animation: shake normal 1s infinite;
    /* IE */
    animation: shake normal 1s infinite;
    /* Opera and prob css3 final iteration */
}

.shake-image-2 {
    -moz-animation: shake normal 2s infinite;
    /* Firefox */
    -webkit-animation: shake normal 2s infinite;
    /* Webkit */
    -ms-animation: shake normal 2s infinite;
    /* IE */
    animation: shake normal 2s infinite;
    /* Opera and prob css3 final iteration */
}

#myModal {
    margin-top: 200px;
}

#end-scene {
    padding-bottom: 200px;
}

@media screen and (max-width: 820px) {
    #header-scene {
        height: 550px !important;
    }
    #myModal {
        margin-top: 0px;
    }
    body {
        background-position: top center !important;
    }
    /* #char-mobile{
        background-position: bottom -90px center;
    } */
    #pop-logo {
        background-image: url("../img/pop-header-mobile.png");
        background-repeat: no-repeat;
        background-size: 30%;
        position: absolute;
        background-attachment: unset!important;
        background-position: top center;
        z-index: 100;
        width: 100%;
        height: 100%;
    }
    /* #pop-logo {
        background-image: url("../img/pop-header-mobile.png");
        background-repeat: no-repeat;
        background-size: 30%;
        position: absolute; 
        background-attachment: fixed;
        background-position: top center;
        z-index:100;
        width: 100%;
        height:100%;
    } */
    #howto-scene {
        height: auto!important;
    }
    #prize-scene {
        height: auto!important;
        margin-top: 50px;
    }
    #letspopuot-scene {
        height: auto!important;
        margin-top: 50px;
    }
    .pop-icon {
        width: 100px;
    }
    .show-your-pop {
        width: 450px;
    }
    .photo-bt {
        padding-top: 50px;
    }
    .video-bt {
        padding-top: 50px;
    }
    .menangkan-hadiah {
        width: 450px;
    }
    .lets-pop {
        width: 450px;
    }
    .join-bt {
        position: fixed;
        bottom: 80px;
        right: 0px;
        width: 200px;
        z-index: 1;
    }
    .join-bt img {
        width: 200px;
    }
    /* .peringatan-left{
        width: 50px;
    }
    
    .peringatan-center{
        width: 200px;
    }
    
    
    .peringatan-right{
        width: 20px;
    }
 */
    .pop-row {
        padding-top: 70px;
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    #header-scene {
        height: 550px !important;
    }
    body {
        background-image: none !important;
    }
    .background {
        position: fixed;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        z-index: -1;
        overflow: scroll;
        width: 100vw;
        height: 100%;
        background-image: url("../img/BG02.png") !important;
        background-position: top center;
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #myModal {
        margin-top: 200px;
    }
    #char-mobile {
        background-position: bottom 0px center;
    }
    #pop-logo {
        background-image: url("../img/pop-header-mobile.png");
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        background-attachment: unset!important;
        background-position: top center;
        z-index: 100;
        width: 100%;
        height: 100%;
    }
    #howto-scene {
        height: auto!important;
    }
    #prize-scene {
        height: auto!important;
        margin-top: 50px;
    }
    #letspopuot-scene {
        height: auto!important;
        margin-top: 50px;
    }
    .pop-icon {
        width: 100px;
    }
    .show-your-pop {
        width: 300px;
    }
    .photo-bt {
        padding-top: 20px;
    }
    .video-bt {
        padding-top: 20px;
    }
    .menangkan-hadiah {
        width: 300px;
    }
    .lets-pop {
        width: 300px;
    }
    .join-bt {
        position: fixed;
        bottom: 48px;
        right: 0px;
        width: 150px;
        z-index: 1;
    }
    .join-bt img {
        width: 150px;
    }
    .peringatan-left {
        width: 50px;
    }
    .peringatan-center {
        width: 200px;
    }
    .peringatan-right {
        width: 20px;
    }
    .pop-row {
        padding-top: 70px;
        height: auto;
    }
    #end-scene {
        padding-bottom: 100px;
    }
}