.title-gallery {
    text-align: center;
    font-family: 'Proud Regular';
    font-size: 25px;
    text-transform: uppercase;
    color: #0062eb;
    height: 100px;
    position: relative;
}

.loc-gallery-vote.konsep {
    height: 20px;
    position: relative;
}

.loc-gallery-vote-bg.konsep {
    height: 15px;
    position: relative;
}

.detail-konsep {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title-gallery.detail {
    padding-top: 10px;
    text-align: center;
    font-family: 'Proud Regular';
    font-size: 25px;
    text-transform: uppercase;
    color: #0062eb;
    height: auto;
    padding-bottom: 10px;
}

.title-gallery-bg {
    text-align: center;
    font-family: 'Proud Regular';
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    height: 100px;
    position: relative;
}

.name-candidate {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.img-fluid.bg_com_new {
    position: relative;
    height: 1287px;
    top: -190px;
    /* bottom: 190px; */
}

.bg_com_new {
    background-image: url("../img-phase-3/bg_com.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

div#lightbox {
    top: 25% !important;
    bottom: 50% !important;
}

.loc-gallery {
    margin-bottom: 1rem;
    color: #0062eb;
    font-family: 'Proxima Nova';
    margin-top: rem;
}

.loc-gallery-vote {
    margin-bottom: 20px;
    color: #0062eb;
    font-family: 'Proxima Nova';
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
}

.loc-gallery-vote-bg {
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Proxima Nova';
    font-size: 16px;
    margin-top: 0px;
    text-align: center;
}

.desc-gallery {
    font-family: 'Proxima Nova';
    text-align: justify;
}

.card.card-reg.card-gall:hover {
    transform: rotateY( 180deg);
}

.card.card-reg.card-gall {
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.hov-menu {
    position: absolute;
    left: -14rem;
    top: 3.3rem;
}

.hov-join {
    position: absolute;
    left: -10.5rem;
    top: 2.3rem;
}

ul.list-group.text-right.d-flex.justify-content-end {
    background-clip: border-box;
    border: solid 1px #0062EB;
    border-radius: 5px;
    margin-top: 0rem;
    left: 0px !important;
    -webkit-box-shadow: 3px 3px 0px #0062eb;
    -moz-box-shadow: 3px 3px 0px #0062EB;
    -o-box-shadow: 3px 3px 0px #0062EB;
    box-shadow: 3px 3px 0px #0062eb;
    z-index: 2 !important;
    margin-bottom: 0px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -17px;
    background-color: #fff;
    border: none;
}

.upload-bg {
    background-image: url("../images/bg-judge.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.bg-log {
    position: absolute;
    bottom: -35.5rem;
    z-index: -1;
}

.bg-2-log {
    position: absolute;
    right: 0px;
    bottom: -36rem;
    z-index: -1;
}

.man-log {
    position: absolute;
    bottom: -41.5rem;
    z-index: 1000;
}

.col-log {
    position: absolute;
    right: 0px;
    bottom: -45rem;
    z-index: 999;
}

.pack-home {
    position: absolute;
    right: 52rem;
    bottom: 3rem;
    z-index: 999;
}

img#img-banner {
    width: 220px;
}

img#btn-reg {
    width: 230px;
}

img#btn-prize {
    width: 450px;
}

.isi-home {
    margin-top: 5rem;
}

.isi-home-card {
    margin-top: 10rem;
}

img.img-win {
    width: 650px;
    position: absolute;
    top: 8.8rem;
    left: -4rem;
}

.banner-home-new {
    margin-top: 0rem !important;
}

@media only screen and (min-width:1920px) and (max-height:1080px) {
    .title-forget {
        margin-top: 6rem !important;
    }
    .form-for {
        margin-bottom: 11rem !important;
    }
    .bg-log {
        bottom: -43.5rem;
    }
    .bg-2-log {
        bottom: -44rem;
    }
    .isi-home {
        margin-top: 20rem;
    }
    .isi-home-card {
        margin-top: 25rem;
    }
    .pack-home {
        right: 73.5rem;
        bottom: 4rem;
    }
    .join-new {
        top: -24rem;
        left: 26rem;
    }
    .prize-new {
        top: -21.5rem;
        left: 74rem;
    }
    img#btn-prize {
        width: 650px;
    }
    img#btn-reg {
        width: 302px;
    }
    img#img-banner {
        width: 300px;
    }
    .login-card {
        margin-bottom: 8rem;
    }
    .man-log {
        bottom: -49.5rem;
    }
    .col-log {
        bottom: -56rem;
    }
}

img.img-fluid.ig-home {
    margin-top: 0px;
    width: 350px;
}

.card.home-greeting-card {
    margin-top: 70px !important;
    margin-bottom: 80px;
    left: -45px !important;
}

.vw-home {
    margin-top: 10rem !important;
    margin-bottom: -15rem !important;
}

img#img-virtual-1 {
    position: absolute;
    left: 18.5rem;
    bottom: 6rem;
    z-index: -1;
}

img#img-virtual-2 {
    position: absolute;
    left: 6.5rem;
    bottom: 10.5rem;
    z-index: 1;
}

img#img-virtual-3 {
    position: absolute;
    left: 0;
    bottom: -2rem;
}

img.img-fluid.sign-in-home {
    position: absolute;
    left: 8rem;
    bottom: -6rem;
}

.form-for {
    margin-bottom: 3rem;
}

.title-forget {
    margin-top: 3rem;
}

@media screen and (max-width: 480px) {
    img.img-fluid.vote-btn {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .title-gallery-bg {
        font-size: 20px;
        height: 80px !important;
    }
    .title-gallery {
        font-size: 20px;
    }
    .loc-gallery-vote {
        font-size: 11px;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    .loc-gallery-vote-bg {
        margin-bottom: 15px;
        margin-top: 0px;
        font-size: 11px;
    }
    img.img-fluid.bg_com_new {
        height: 745px;
    }
    img.img-fluid.vot-detail {
        width: 180px;
        margin-bottom: 3rem;
    }
    img.img-fluid.bg_com_new {
        height: 745px;
    }
    img.img-fluid.ig-home {
        margin-top: 2rem;
        width: 230px;
    }
    .isi-home-card {
        margin-top: 3rem;
    }
    .card.home-greeting-card {
        margin-bottom: 40px;
        left: 0px !important;
    }
    .vw-home {
        margin-top: 5rem !important;
        margin-bottom: -7rem !important;
    }
    img#img-virtual-1 {
        left: 9.5rem;
        bottom: 5rem;
        z-index: -1;
        width: 180px;
    }
    ul.cont {
        padding-left: 0px !important;
    }
    img#img-virtual-2 {
        left: 0rem;
        bottom: 8.5rem;
        z-index: 1;
        width: 180px;
    }
    img#img-virtual-3 {
        left: 0rem;
        bottom: 2rem;
        width: 180px;
    }
    img.img-fluid.sign-in-home {
        position: absolute;
        left: 4rem;
        bottom: -3rem;
        width: 85px;
    }
    .footer-home {
        margin-top: 7rem !important;
    }
}