@font-face {
    font-family: 'Proud Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Proud Regular'), url('../fonts/Proud.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova'), url('../fonts/ProximaNova.otf') format('opentype');
}

body {
    background-color: #eee;
    font-family: 'Proxima Nova';
}

.card.card-reg.card-gall.card-det {
    border: solid 1px #FF7A03;
    -webkit-box-shadow: 8px 8px 0px #FF7A03;
    -moz-box-shadow: 8px 8px 0px #FF7A03;
    -o-box-shadow: 8px 8px 0px #FF7A03;
    box-shadow: 8px 8px 0px #FF7A03;
}

.title-gallery.det {
    color: #fff;
}

.stay_bg {
    margin-top: 0px;
    margin-bottom: 0px;
}

.slide-arrow {
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.prev-arrow {
    left: -45px;
    top: 50%;
    width: 35px;
    height: 56px;
    background-image: url(../img-phase-3/left.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: contain;
    border: transparent;
}

.next-arrow {
    right: -45px;
    top: 50%;
    width: 35px;
    height: 56px;
    background-image: url(../img-phase-3/right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: contain;
    border: transparent;
}

.slick-dots {
    bottom: 0px !important;
}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #eee !important;
}

#right_modal_sm .modal-header {
    border-bottom: 1px solid #0062eb !important;
    background-color: #0062EB !important;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}

#right_modal_sm .close {
    color: #fff !important;
    text-decoration: none;
    opacity: 1 !important;
    font-size: 1.8rem;
    text-shadow: unset !important;
}

.judge-info {
    background-image: url("../images/bg-judge.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.card.card-reg.card-gallery {
    background-image: url("../img-phase-3/bg-gall.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.buble {
    display: none;
}

.buble2 {
    display: none;
}

.buble3 {
    display: none;
}

.header {
    background-image: url("../img/esse-logo-header.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 552px;
}

.home {
    margin-top: -1rem;
    margin-bottom: 6rem;
}

.footer {
    background-color: #0062eb;
    margin-top: 23rem;
}

.footer-peringatan {
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
}

img.img-fluid.footer-logo {
    width: 100px;
}

img.img-fluid.footer-alt {
    width: 130px;
}

img.img-fluid.footer-bolong {
    width: 130px;
}

img.img-fluid.footer-center {
    width: 70%;
}

img.img-fluid.footer-18 {
    width: 60px;
}

img.img-fluid.banner-home {
    max-width: 100%;
    height: 693px;
}

.join-new {
    position: absolute;
    top: -35.5rem;
    left: 12rem;
}

#judge-info-home {
    margin-top: -450px;
}

img#btn-reg3 {
    transition: box-shadow 0.1s, transform 0.1s;
}

img#btn-reg3:hover {
    cursor: pointer;
}

img#btn-reg1 {
    transition: box-shadow 0.1s, transform 0.1s;
}

img#btn-reg1:hover {
    cursor: pointer;
}

img#btn-reg2 {
    transition: box-shadow 0.1s, transform 0.1s;
}

img#btn-reg2:hover {
    cursor: pointer;
}

.prize-new {
    position: absolute;
    top: -14.5rem;
    left: 53rem;
}

.logo-head {
    position: absolute;
    top: -43.2rem;
    left: 2rem;
}

.head-new {
    position: absolute;
    top: -43.2rem;
    left: 0rem;
}

.container-fluid.header.head.pt-4.px-0 {
    padding-bottom: 8rem;
}

.mbm {
    margin-bottom: 1.5rem !important;
}

.row.d-flex.justify-content-center.vote-mb-info {
    margin-bottom: 3rem !important;
}

img.img-fluid.side-logo {
    max-width: 100px !important;
    margin-left: 0rem;
    position: absolute;
    top: -0.3rem;
    margin-top: 6px;
    margin-bottom: 6px;
}

.modal-scrollbar-measure {
    overflow: hidden !important;
}

.modal-backdrop.show {
    opacity: .7;
}

.modal-backdrop {
    background-color: #000;
}

.modal-content {
    -webkit-box-shadow: 8px 8px 0px #0062EB;
    -moz-box-shadow: 8px 8px 0px #0062EB;
    -o-box-shadow: 8px 8px 0px #0062EB;
    box-shadow: 8px 8px 0px #0062EB;
    border: solid 1px #0062EB;
    border-radius: 10px;
}

.modal-content.modal-vtc {
    -webkit-box-shadow: 8px 8px 0px #fff;
    -moz-box-shadow: 8px 8px 0px #fff;
    -o-box-shadow: 8px 8px 0px #fff;
    box-shadow: 8px 8px 0px #fff;
    border: solid 1px #fff;
    border-radius: 10px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: solid 1px #fff;
    border-radius: 15px;
    margin-top: -40rem;
    left: 14rem;
    -webkit-box-shadow: 8px 8px 0px #fff;
    -moz-box-shadow: 8px 8px 0px #fff;
    -o-box-shadow: 8px 8px 0px #fff;
    box-shadow: 8px 8px 0px #fff;
}

.card.card-reg {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: solid 1px #0062EB;
    border-radius: 15px;
    margin-top: 0rem;
    left: 0px !important;
    -webkit-box-shadow: 8px 8px 0px #0062EB;
    -moz-box-shadow: 8px 8px 0px #0062EB;
    -o-box-shadow: 8px 8px 0px #0062EB;
    box-shadow: 8px 8px 0px #0062EB;
    z-index: 2 !important;
    margin-bottom: 0px;
}

.card-body {
    padding: 3px !important;
    border-radius: 15px;
}

.modal-body.vtc.text-center {
    padding: 0px !important;
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
    border-radius: 10px !important;
}

img.img-welcome {
    width: 160px;
}

img.img-age {
    width: 160px;
}

select,
input {
    padding: 5px 10px;
    border: 1px solid #0062EB;
    border-radius: 5px;
}

.btn-primary {
    background-color: #0062EB;
    border: solid 1px #0062EB;
    border-radius: 7px;
}

.btn-primary:hover {
    background-color: #0062EB;
    border: solid 1px #0062EB;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #ccc;
    border: solid 1px #ccc;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border-radius: 5px;
    padding-right: 2rem;
}

.video-area {
    margin-top: -2rem;
    margin-bottom: 2rem !important;
}

.story-area {
    padding: 100px 0px;
}

img.img-regtitle {
    width: 170px;
    margin-left: 20rem;
}

img.img-partitle {
    width: 350px;
    margin-top: 1rem;
    margin-left: 14rem;
}

img.img-btn-reg.a {
    width: 250px;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
    margin-right: -18rem;
}

img.img-btn-reg.b {
    width: 250px;
    margin-top: -2rem;
    margin-bottom: 2rem;
    margin-right: 18rem;
}

a.btn-reg:hover {
    opacity: 0.5;
}

a.btn-vote:hover {
    opacity: 0.5;
}

a.btn-reg.active {
    opacity: 0.5;
}


/* a:hover {
    opacity: 0.7;
} */

a.btn-reg:focus {
    opacity: 0.5;
}

.btn-primary-outline:hover {
    opacity: 0.5;
}

.row.card-reg {
    padding: 90px;
}

form.col-md-12.reg-form {
    padding-left: 85px;
    padding-right: 65px;
}

.btn-primary-outline {
    background-color: transparent;
    border: none;
}

.register-area {
    position: relative;
    margin-top: -25rem;
}

.participant-cat.about-com-new {
    margin-top: 15rem !important
}

button.btn.btn-burger {
    display: none;
}

.brand-story {
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.banner {
    padding-bottom: 20px;
}

.banner.competition {
    padding-bottom: 230px !important;
}

img.img_bg_win {
    width: 520px;
}

.bg-slide-win {
    padding-bottom: 5px !important;
    margin-top: 17rem !important;
}

.greeting-home {
    padding-bottom: 5px !important;
    margin-top: 10rem !important;
}

.participant-cat {
    background-color: #3762eb;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    padding-bottom: 220px !important;
}

.prizes {
    background-color: #0062eb;
    background-image: url("../img/bg-prize-left.png"), url("../img/bg-prize-right.png"), url("../img/bg-prize-bottom.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right, bottom center;
}

.competition-criteria {
    background-image: url("../images/bg-blue.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 200px !important;
}

.slider-bg {
    background-image: url("../img-phase-3/slider.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 280px !important;
    padding-top: 180px !important;
    margin-bottom: -6rem;
}

.bg-home-about {
    background-image: url("../img-phase-2/blue-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 200px !important;
}

.make-change {
    background-image: url("../img/brush.png");
    background-repeat: no-repeat;
    background-size: 530px;
    background-position: bottom right;
}

.your-canvas-your-idea {
    padding-top: 0rem !important;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
    padding-bottom: 0rem !important;
}

img.brush-5 {
    width: 666px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bg-bottom {
    position: absolute;
    bottom: -16em;
    z-index: 999;
    left: -2rem;
    right: -1rem;
}

.bg-bottom-5 {
    position: absolute;
    bottom: 0em;
    z-index: 999;
    left: -2rem;
    right: -1rem;
}

.bg-bottom-2 {
    position: absolute;
    bottom: -12em;
    z-index: 999;
    left: -2rem;
    right: -1rem;
}

.bg-bottom-vote {
    position: absolute;
    z-index: -1;
    left: -2rem;
    right: -1rem;
    top: -5rem;
}

.bg-bottom-home {
    position: absolute;
    bottom: -9em;
    z-index: -1;
    left: -2rem;
    right: -1rem;
}

.bg-bottom-home-win {
    position: absolute;
    bottom: -14em;
    z-index: 999;
    left: -2rem;
    right: -1rem;
}

.bg-bottom-mobile {
    position: absolute;
    bottom: -6em;
    z-index: 999;
    left: -2rem;
    right: -1rem;
}

.bg-bottom-mobile-5 {
    position: absolute;
    bottom: 0px;
    z-index: 999;
    left: -2rem;
    right: -1rem;
}

.bg-bottom-mobile-toc {
    position: absolute;
    bottom: -3em;
    z-index: 999;
    left: -2rem;
    right: -1rem;
}

.bg-bottom-mobile-new {
    position: absolute;
    bottom: -4em;
    z-index: 999;
    left: -2rem;
    right: -1rem;
}

.bg-bottom-mobile-new-win {
    position: absolute;
    bottom: -7em;
    z-index: 999;
    left: -2rem;
    right: -1rem;
}

select.day {
    padding-right: 6rem;
    border: 1px solid #ced4da;
}

select.month {
    padding-right: 12rem;
    border: 1px solid #ced4da;
}

select.year {
    padding-right: 6rem;
    border: 1px solid #ced4da;
}

img.hand-new {
    position: absolute;
    bottom: 7rem;
}

img.hand-new.com {
    position: absolute;
    bottom: -4rem;
}

img.hand-new.home {
    position: absolute;
    bottom: -7rem !important;
}

.image.hand-new2 {
    position: absolute;
    bottom: -10rem;
    left: 60px;
}

img.stay_banner {
    position: absolute;
    bottom: 3rem;
    left: 70px;
    width: 340px;
}

.bg-bottom-can {
    position: absolute;
    bottom: -71em;
    left: -2rem;
    right: 0rem;
}

.bg-bottom-mobile-can {
    position: absolute;
    bottom: -55em;
    z-index: 999;
    left: -2rem;
    right: 0rem;
}

.bg-bottom-can-top {
    position: absolute;
    bottom: -60em;
    left: -2rem;
    right: 0rem;
}

.bg-bottom-mobile-can-top {
    position: absolute;
    bottom: -67em;
    z-index: 999;
    left: -2rem;
    right: 0rem;
}


/* exra large */

@media only screen and (min-width:2560px) and (max-height:1600px) {
    img.img-fluid.banner-home {
        width: 2560px !important;
        height: 1200px !important;
    }
    .bg-bottom {
        bottom: -20em !important;
    }
    .bg-bluehome {
        bottom: -200px !important;
    }
    #judge-info-home {
        margin-top: -1050px;
    }
    .bg-bottom-5 {
        bottom: -3em;
    }
    img.brush-5 {
        width: 700px;
        left: 244px;
        top: 0px;
    }
}


/* large */

@media only screen and (min-width:1920px) and (max-height:1080px) {
    img.brush-5 {
        width: 700px;
        left: 244px;
        top: 0px;
    }
    .bg-bottom-5 {
        bottom: -3em;
    }
    #judge-info-home {
        margin-top: -750px;
    }
    .bg-bottom {
        bottom: -20em !important;
    }
    img.hand-new.com {
        position: absolute;
        bottom: 0rem !important;
    }
    .bg-slide-win {
        margin-top: 25rem !important;
    }
    div#gen2 {
        padding-top: 15rem !important;
    }
    .row.d-flex.justify-content-center.vote-mb-info {
        margin-bottom: 6rem !important;
    }
    #tilt {
        height: 500px !important;
        width: 500px !important;
        left: 7rem !important;
        top: 7rem !important;
    }
    .banner {
        padding-bottom: 120px !important;
    }
    img.img_bg_win {
        width: 700px !important;
    }
    img.stay_banner {
        position: absolute;
        bottom: 7rem;
        left: 170px;
        width: 350px;
    }
    .logo-head {
        position: absolute;
        top: -61.2rem;
        left: 4rem;
    }
    img.img-fluid.bg_com_new {
        position: relative;
        height: 1230px;
        top: -280px !important;
    }
    .head-new {
        position: absolute;
        top: -61.2rem;
        left: 8rem;
    }
    .home {
        margin-bottom: 12rem;
        margin-top: -4rem;
    }
    .competition-criteria {
        padding-bottom: 300px !important;
    }
    .bg-home-about {
        padding-bottom: 300px !important;
    }
    img.img-fluid.banner-home {
        width: 1950px;
        height: 1000px;
    }
    .container-fluid.header.head.pt-4.px-0 {
        padding-bottom: 14.5rem;
    }
    .join-new {
        top: -50rem;
        left: 16rem;
    }
    img.img-fluid.fl {
        margin-left: -17rem;
    }
    img.img-fluid.fr {
        margin-right: -17rem;
    }
    .brand-story {
        margin-top: 5rem;
        padding-bottom: 5rem;
    }
    img.hand-new {
        bottom: 0rem;
    }
}

div#gen2 {
    padding-top: 10rem;
}

@media screen and (max-width: 480px) {
    img.brush-5 {
        width: auto;
        left: 315px;
        top: -111px;
    }
    #judge-info-home {
        margin-top: -300px !important;
    }
    img.img_bg_win {
        width: 350px;
    }
    .banner.competition {
        padding-bottom: 40px !important;
    }
    .title-gallery-bg.com {
        font-size: 20px;
        height: 120px !important;
    }
    .participant-cat.about-com-new {
        margin-top: 0px !important
    }
    .greeting-home {
        padding-bottom: 5px !important;
        margin-top: 0px !important;
    }
    .bg-slide-win {
        margin-top: 5rem !important;
    }
    .stay_bg {
        margin-top: 3rem;
        margin-bottom: 19rem !important;
    }
    #tilt {
        height: 300px !important;
        width: 280px !important;
        left: 4rem !important;
        top: 3rem !important;
    }
    img.stay_banner {
        bottom: 0rem;
        width: 250px;
        left: 90px !important;
    }
    div#gen2 {
        padding-top: 5rem !important;
    }
    .loc-gallery {
        margin-bottom: 0.5rem !important;
        font-size: 13px;
    }
    .bg-judge-mobile {
        background-image: url("../images/bg-judge.png");
        background-repeat: round;
        background-position: initial;
        background-size: 100%;
    }
    .bg-make-mobile {
        background-image: url("../img-phase-3/bg-make-mob.png");
        background-repeat: round;
        background-position: initial;
        background-size: 100%;
    }
    .row.d-flex.justify-content-center.vote-mb-info {
        margin-bottom: 0px !important;
    }
    .title-gallery.detail {
        font-size: 20px !important;
    }
    .row.card-reg {
        padding: 45px;
    }
    .brand-story {
        margin-top: 0rem;
    }
    .logo-head {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
    .container-fluid.header.head.pt-4.px-0 {
        padding-bottom: 2.5rem;
    }
    .header {
        background-size: 350px;
        background-position: top left -45px;
        padding-top: 20px !important;
    }
    .banner {
        padding-bottom: 40px;
    }
    img.img-fluid.footer-18 {
        width: 30px !important;
        margin-right: 0px !important;
        position: absolute;
        top: -2.1rem;
    }
    img.img-fluid.footer-bolong {
        width: 60px !important;
        position: relative;
        bottom: -2px;
    }
    img.img-fluid.footer-center {
        width: 63% !important;
        position: absolute;
        top: -1.5rem !important;
        left: 5.5rem;
    }
    img.img-fluid.fl {
        width: 70px !important;
        margin-left: 0rem;
        position: absolute;
    }
    img.img-fluid.fr {
        width: 80px !important;
        margin-right: 0rem !important;
    }
    img.ban-mobile {
        width: 411px;
        height: auto;
        left: 0px;
        top: 0px;
    }
    .join-mob {
        position: absolute;
        bottom: 40.5rem;
        right: 0rem;
    }
    .prize-home-mob {
        position: absolute;
        bottom: 39rem;
        right: 0rem;
    }
    .burger-home {
        position: absolute;
        bottom: -4.5rem;
        right: -1rem;
    }
    img.img-fluid.reg {
        width: 195px;
    }
    .competition-criteria {
        padding-bottom: 140px !important;
    }
    .bg-home-about {
        padding-bottom: 100px !important;
    }
    img.img-btn-reg.a {
        width: 130px;
        position: relative;
        margin-top: 0rem;
        margin-bottom: 0rem;
        margin-right: 0rem;
        top: -1.3rem;
        left: 1rem;
    }
    img.img-btn-reg.b {
        width: 130px;
        margin-top: 0rem;
        margin-bottom: 0rem;
        margin-right: 0rem;
        position: absolute;
        top: -3.7rem;
        left: 0rem;
    }
    img.img-btn-reg.a.a {
        top: -1.7rem;
        left: -4.3rem;
    }
    img.img-btn-reg.b.a {
        top: -2.7rem !important;
        left: 3rem !important;
    }
    img.img-btn-reg.b.a.b {
        top: -5rem !important;
        left: 12.5rem !important;
    }
    .prev-arrow,
    .next-arrow {
        display: none !important;
    }
    .slider-bg {
        padding-top: 150px !important;
    }
    .title-gallery {
        padding: 8px 0px !important;
        font-size: 22px !important;
        color: #0062eb;
    }
    select.day {
        padding-right: 13.9rem;
    }
    select.month {
        padding-right: 11rem;
    }
    select.year {
        padding-right: 13.5rem;
    }
    img.hand-new {
        bottom: 0rem;
    }
    .participant-cat {
        padding-bottom: 80px !important;
    }
    .judge-info {
        background-image: none;
        background-repeat: space;
    }
    .prizes {
        background-color: #0062eb;
        background-image: url("../img/bg-prize-left.png"), url("../img/bg-prize-right.png");
        background-repeat: no-repeat;
        background-size: 100px, 100px;
        background-position: top left, bottom right;
    }
    .your-canvas-your-idea {
        padding-top: 2rem !important;
        background-repeat: no-repeat;
        background-size: 500px, 100%;
        background-position: bottom 200px right 50px, bottom center;
    }
    .make-change {
        background-size: 130px;
        background-position: bottom -30px right -50px !important;
    }
    .home {
        margin-top: -2rem;
    }
}


/* ip se */

@media only screen and (max-device-width: 320px) and (max-device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    img.ban-mobile {
        margin-bottom: 1rem;
        width: 200px;
    }
    .container-fluid.header.head.pt-4.px-0 {
        padding-bottom: 4rem;
    }
    .join-mob {
        bottom: 6rem;
        right: 4rem;
    }
    img.brush-5 {
        width: 80px;
        left: 266px;
        top: -107px;
    }
}


/* ip 7 */

@media only screen and (max-device-width: 375px) and (max-device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .join-mob {
        bottom: 35rem;
        right: 0rem;
    }
    img.brush-5 {
        width: 80px;
        left: 266px;
        top: -107px;
    }
    #tilt {
        left: 2rem !important;
        top: 3rem !important;
    }
    img.stay_banner {
        left: 70px !important;
    }
    .prize-home-mob {
        bottom: 36rem;
    }
    img.img-fluid.reg {
        width: 170px;
    }
    img.img-fluid.footer-center {
        left: 5rem;
    }
    .container-fluid.header.head.pt-4.px-0 {
        padding-bottom: 2.5rem;
    }
    img.img-btn-reg.a {
        width: 125px;
        left: 2rem;
    }
    img.img-btn-reg.b {
        width: 120px;
    }
    img.ban-mobile {
        width: 375px;
        height: auto;
        left: 0px;
        top: 0px;
    }
    img.img-btn-reg.b.a.b {
        top: -5rem !important;
        left: 11rem !important;
    }
}


/* iPhone XR */

@media only screen and (min-device-width: 414px) and (min-device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    .container-fluid.header.head.pt-4.px-0 {
        padding-bottom: 11rem;
    }
    img.brush-5 {
        width: 70px;
        left: 276px;
        top: -107px;
    }
}


/* ip 11 */

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    .container-fluid.header.head.pt-4.px-0 {
        padding-bottom: 11rem;
    }
    img.stay_banner {
        left: 100px !important;
    }
    img.brush-5 {
        width: 70px;
        left: 314px;
        top: -111px;
    }
}


/* ip 11pro ip x */

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .join-mob {
        right: 0rem;
        top: -35.5rem;
    }
    img.brush-5 {
        width: 70px;
        left: 276px;
        top: -107px;
    }
    #tilt {
        left: 2rem !important;
    }
    img.stay_banner {
        left: 60px !important;
    }
    img.img-fluid.reg {
        width: 175px;
    }
    .prize-home-mob {
        bottom: 35rem;
    }
    img.img-fluid.footer-center {
        left: 5rem;
    }
    img.img-btn-reg.a {
        width: 125px;
        left: 2rem;
    }
    img.img-btn-reg.b {
        width: 120px;
    }
    img.ban-mobile {
        width: 375px;
        height: auto;
        left: 0px;
        top: 0px;
    }
    img.img-btn-reg.b.a.b {
        top: -5rem !important;
        left: 11rem !important;
    }
}


/* ip 11 pro max */

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
    .container-fluid.header.head.pt-4.px-0 {
        padding-bottom: 11rem;
    }
    .join-mob {
        right: 0rem;
        bottom: 38rem;
    }
    img.brush-5 {
        width: 70px;
        left: 314px;
        top: -107px;
    }
}


/* ip 12 pro */

@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
    .container-fluid.header.head.pt-4.px-0 {
        padding-bottom: 8rem;
    }
    img.brush-5 {
        width: 70px;
        left: 276px;
        top: -107px;
    }
}


/* ip 12 pro max */

@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
    .container-fluid.header.head.pt-4.px-0 {
        padding-bottom: 13rem;
    }
    img.brush-5 {
        width: 70px;
        left: 276px;
        top: -107px;
    }
}