@font-face {
    font-family: 'Proud Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Proud Regular'), url('../fonts/Proud.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova'), url('../fonts/ProximaNova.otf') format('opentype');
}

body {
    font-family: 'Proxima Nova';
}

.buble {
    display: none;
}

.buble2 {
    display: none;
}

.buble3 {
    display: none;
}


/* img#judge1:hover+.buble {
    display: block;
} */

.judge-info {
    background-image: url("../images/bg-judge.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


/* mac ana */

.banner-desk {
    position: absolute;
    left: -5rem;
    width: 1302px;
    top: -1rem;
}

.join-new {
    position: absolute;
    bottom: 0px;
    top: 14rem;
    left: -46rem;
    z-index: 1000;
    right: -3rem;
}


/* laptop biasa */

@media only screen and (min-width:1366px) and (max-height:768px) {
    .banner-desk {
        position: absolute;
        left: -7rem;
        width: 1400px;
        top: 1rem;
    }
    .join-new {
        top: 18rem;
        left: -43rem;
        right: -3rem;
    }
    img.img-fluid.footer-logo {
        width: 150px;
        margin-left: 0rem;
    }
    img.img-fluid.footer-alt {
        width: 180px;
        margin-right: 0rem;
    }
    select.month {
        padding-right: 0rem;
        border: 1px solid #ced4da;
    }
    select.year {
        padding-right: 0rem;
        border: 1px solid #ced4da;
    }
}


/* layar gede */

@media only screen and (min-width:1920px) and (max-height:1080px) {
    .banner-desk {
        position: absolute;
        left: -25rem;
        width: 2000px;
        top: 8rem;
    }
    img.img-fluid.footer-logo {
        width: 150px;
        margin-left: -17rem;
    }
    img.img-fluid.footer-alt {
        width: 180px;
        margin-right: -17rem;
    }
    .join-new {
        top: 32rem;
        left: -30rem;
        right: -3rem;
    }
    select.day {
        padding-right: 6rem;
        border: 1px solid #ced4da;
    }
    select.month {
        padding-right: 12rem;
        border: 1px solid #ced4da;
    }
    select.year {
        padding-right: 6rem;
        border: 1px solid #ced4da;
    }
}

.label {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-size: normal;
}

#right_modal_sm .modal-header {
    border-bottom: 1px solid #0062eb !important;
    background-color: #0062EB !important;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}

.footer-peringatan {
    background-color: #fff;
}

.modal-scrollbar-measure {
    overflow: hidden !important;
}

.modal-backdrop.show {
    opacity: .7;
}

.modal-backdrop {
    background-color: #000;
}

.modal-content {
    -webkit-box-shadow: 8px 8px 0px #0062EB;
    -moz-box-shadow: 8px 8px 0px #0062EB;
    -o-box-shadow: 8px 8px 0px #0062EB;
    box-shadow: 8px 8px 0px #0062EB;
    border: solid 1px #0062EB;
    border-radius: 10px;
}

.modal-content.modal-vtc {
    -webkit-box-shadow: 8px 8px 0px #fff;
    -moz-box-shadow: 8px 8px 0px #fff;
    -o-box-shadow: 8px 8px 0px #fff;
    box-shadow: 8px 8px 0px #fff;
    border: solid 1px #fff;
    border-radius: 10px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: solid 1px #fff;
    border-radius: 15px;
    margin-top: -40rem;
    left: 14rem;
    -webkit-box-shadow: 8px 8px 0px #fff;
    -moz-box-shadow: 8px 8px 0px #fff;
    -o-box-shadow: 8px 8px 0px #fff;
    box-shadow: 8px 8px 0px #fff;
}

.card.card-reg {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: solid 1px #0062EB;
    border-radius: 15px;
    margin-top: 0rem;
    left: 0px !important;
    -webkit-box-shadow: 8px 8px 0px #0062EB;
    -moz-box-shadow: 8px 8px 0px #0062EB;
    -o-box-shadow: 8px 8px 0px #0062EB;
    box-shadow: 8px 8px 0px #0062EB;
    z-index: 2 !important;
    margin-bottom: 0px;
}

.card-body {
    padding: 3px !important;
    border-radius: 15px;
}

.modal-body.vtc.text-center {
    padding: 0px !important;
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
    border-radius: 10px !important;
}

img.img-welcome {
    width: 160px;
}

img.img-age {
    width: 160px;
}

select,
input {
    padding: 5px 10px;
    border: 1px solid #0062EB;
    border-radius: 5px;
}

.btn-primary {
    background-color: #0062EB;
    border: solid 1px #0062EB;
    border-radius: 7px;
}

.btn-primary:hover {
    background-color: #0062EB;
    border: solid 1px #0062EB;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #ccc;
    border: solid 1px #ccc;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border-radius: 5px;
    padding-right: 2rem;
}

.video-area {
    margin-top: -2rem;
    margin-bottom: 2rem !important;
}

.story-area {
    padding: 100px 0px;
}

img.img-regtitle {
    width: 170px;
    margin-left: 20rem;
}

img.img-partitle {
    width: 350px;
    margin-top: 1rem;
    margin-left: 14rem;
}

img.img-btn-reg.a {
    width: 250px;
    margin-top: -2rem;
    margin-bottom: 2rem;
    margin-right: -1rem;
}

img.img-btn-reg.b {
    width: 250px;
    margin-top: -2rem;
    margin-bottom: 2rem;
    margin-right: -1rem;
}

a.btn-reg:hover {
    opacity: 0.5;
}

.btn-primary-outline:hover {
    opacity: 0.5;
}

.row.card-reg {
    padding: 70px;
}

form.col-md-12.reg-form {
    padding-left: 85px;
    padding-right: 65px;
}

.btn-primary-outline {
    background-color: transparent;
    border: none;
}

.register-area {
    position: relative;
    margin-top: -25rem;
}

button.btn.btn-burger {
    display: none;
}

#right_modal_sm .close {
    color: #fff !important;
    text-decoration: none;
    opacity: 1 !important;
    font-size: 1.8rem;
    text-shadow: unset !important;
}

img.img-ig-story {
    width: 250px;
}


/* Laptop or Desktop */

@media (min-width: 1025px) and (max-width: 1280px) {
    img.img-fluid.footer-alt {
        width: 120px;
    }
    img.img-fluid.footer-18 {
        width: 50px;
        margin-right: 10px;
    }
    img.img-fluid.footer-bolong {
        width: 110px;
        margin-left: 10px;
    }
    img.img-fluid.footer-logo {
        width: 100px;
    }
    img.img-fluid.footer-center {
        width: 70%;
    }
    .head {
        background-image: url("../img/esse-logo-header.png");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 400px;
        height: 500px;
    }
    .blue-bottom {
        position: absolute;
        bottom: -370px;
        right: 0px;
        z-index: -2;
    }
    .brush {
        position: absolute;
        bottom: -23rem;
        right: -3rem;
        left: -3rem;
        z-index: 2;
    }
    img.img-fluid.brush-home {
        width: 350px
    }
    .main-banner {
        position: absolute;
        bottom: -14rem;
        right: -10rem;
        left: -10rem;
        z-index: 1;
    }
    img.img-banner {
        width: 100%;
    }
    img.img-fluid.blue-btm {
        max-width: 500px;
    }
    img.img-fluid.woman {
        max-width: 180px
    }
    .woman-home {
        position: absolute;
        right: 0rem;
        z-index: -1;
    }
    .p-win {
        position: absolute;
        bottom: -20rem;
        right: -3rem;
        left: 0rem;
        z-index: 1;
    }
    img.img-fluid.p-winn {
        width: 180px;
    }
    .tbl-reg {
        position: absolute;
        bottom: -14rem;
        right: -17rem;
        left: 12rem;
        z-index: 1;
    }
    img.img-fluid.tbl-img-reg {
        max-width: 180px;
    }
    img.img-banner-mobile {
        display: none;
    }
    .color-reg {
        position: absolute;
        bottom: -75rem;
        right: -15px;
    }
    img.img-color-reg {
        width: 400px
    }
    .purple-reg {
        position: absolute;
        bottom: -40rem;
        left: -1rem;
    }
    img.img-fluid.purple-regg {
        max-width: 450px
    }
    .man-reggg {
        position: absolute;
        bottom: -76.4rem;
        left: -2rem;
    }
    select.day {
        padding-right: 6rem;
        border: 1px solid #ced4da;
    }
    select.month {
        padding-right: 12rem;
        border: 1px solid #ced4da;
    }
    select.year {
        padding-right: 6.5rem;
        border: 1px solid #ced4da;
    }
    #mobile-pro {
        display: none;
    }
    #art-m {
        display: none;
    }
}


/* laptop */


/* macbook 2K */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .head {
        background-size: 500px;
    }
    .blue-bottom {
        position: absolute;
        bottom: -470px;
        right: 0px;
    }
    .brush {
        position: absolute;
        bottom: -33rem;
        right: -3rem;
        left: -6rem;
        z-index: 2;
    }
    img.img-fluid.brush-home {
        width: 450px
    }
    .main-banner {
        position: absolute;
        bottom: -17rem;
        right: -13rem;
        left: -10rem;
        z-index: 1;
    }
    img.img-banner {
        width: 100%;
    }
    img.img-fluid.blue-btm {
        max-width: 500px;
    }
    img.img-fluid.woman {
        max-width: 220px
    }
    .woman-home {
        position: absolute;
        right: -2rem;
        z-index: -1;
    }
    .p-win {
        position: absolute;
        bottom: -21rem;
        right: -3rem;
        left: 0rem;
        z-index: 1;
    }
    img.img-fluid.p-winn {
        width: 180px;
    }
    .tbl-reg {
        position: absolute;
        bottom: -14rem;
        right: -17rem;
        left: 12rem;
        z-index: 1;
    }
    img.img-fluid.tbl-img-reg {
        max-width: 180px;
    }
    img.img-banner-mobile {
        display: none;
    }
    .color-reg {
        position: absolute;
        bottom: -75rem;
        right: -15px;
    }
    img.img-color-reg {
        width: 400px
    }
    .purple-reg {
        position: absolute;
        bottom: -40rem;
        left: -1rem;
    }
    img.img-fluid.purple-regg {
        max-width: 450px
    }
    .man-reggg {
        position: absolute;
        bottom: -76.4rem;
        left: -2rem;
    }
    select.day {
        padding-right: 6rem;
        border: 1px solid #ced4da;
    }
    select.month {
        padding-right: 12rem;
        border: 1px solid #ced4da;
    }
    select.year {
        padding-right: 6rem;
        border: 1px solid #ced4da;
    }
    #mobile-pro {
        display: none;
    }
    #art-m {
        display: none;
    }
}


/* macbook 2K */


/* HD */

@media (min-width: 1281px) {
    img.img-fluid.footer-18 {
        width: 70px;
        margin-right: 10px;
    }
    img.img-fluid.footer-bolong {
        width: 150px;
        margin-left: 10px;
    }
    img.img-fluid.footer-center {
        width: 70%;
    }
    .head {
        background-image: url("../img/esse-logo-header.png");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 600px;
        height: 500px;
    }
    .blue-bottom {
        position: absolute;
        bottom: -630px;
        right: 0rem;
        z-index: -2;
    }
    .menu.col-md-6.offset-md-6.mb-5.text-right {
        position: relative;
        left: 22rem;
    }
    .brush {
        position: absolute;
        bottom: -55rem;
        right: -3rem;
        left: -26rem;
        z-index: 2;
    }
    img.img-fluid.brush-home {
        max-width: 788px;
    }
    .main-banner {
        position: absolute;
        bottom: -25rem;
        right: -37rem;
        left: -26rem;
        z-index: 1;
    }
    img.img-banner {
        width: 1000px;
    }
    img.img-fluid.blue-btm {
        max-width: 600px;
    }
    img.img-fluid.woman {
        max-width: 300px
    }
    .woman-home {
        position: absolute;
        right: -20rem;
        z-index: -1;
    }
    .p-win {
        position: absolute;
        bottom: -31rem;
        right: -3rem;
        left: 0rem;
        z-index: 1;
    }
    img.img-fluid.p-winn {
        width: 280px;
    }
    .tbl-reg {
        position: absolute;
        bottom: -20rem;
        right: -33rem;
        left: 12rem;
        z-index: 1;
    }
    img.img-fluid.tbl-img-reg {
        max-width: 240px;
    }
    img.img-banner-mobile {
        display: none;
    }
    .color-reg {
        position: absolute;
        bottom: -75rem;
        right: -15px;
    }
    img.img-color-reg {
        width: 400px
    }
    img.img-regtitle {
        width: 300px;
        margin-left: 31rem;
    }
    img.img-partitle {
        width: 480px;
        margin-top: 1rem;
        margin-left: 24rem;
    }
    .purple-reg {
        position: absolute;
        bottom: -40rem;
        left: -1rem;
    }
    img.img-fluid.purple-regg {
        max-width: 450px
    }
    .man-reggg {
        position: absolute;
        bottom: -81.8rem;
        left: -2rem;
    }
    #mobile-pro {
        display: none;
    }
    #art-m {
        display: none;
    }
    .card.aos-init.aos-animate {
        position: absolute;
        top: -22rem;
        width: 1200px;
        left: 0rem;
    }
}


/* hd */


/* Mobile */

@media screen and (max-width: 480px) {
    img.img-fluid.footer-alt {
        width: 80px;
        margin-right: 0rem;
    }
    img.img-fluid.footer-18 {
        width: 20px;
        margin-right: 10px;
        position: absolute;
        top: -1.5rem;
    }
    img.img-fluid.footer-bolong {
        width: 50px;
        margin-left: 10px;
        position: relative;
        bottom: -2px;
    }
    img.img-fluid.footer-logo {
        width: 70px;
        margin-left: 0rem;
        position: absolute;
        top: -0.4rem;
    }
    img.img-fluid.side-logo {
        max-width: 100px !important;
        margin-left: 0rem;
        position: absolute;
        top: -0.3rem;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    img.img-fluid.footer-center {
        width: 60%;
        position: absolute;
        top: -1.2rem;
    }
    .head {
        background-image: url("../img/esse-logo-header.png");
        background-repeat: no-repeat;
        background-position: top left -50px;
        background-size: 400px;
        height: 500px;
    }
    .blue-bottom {
        display: none;
    }
    button.btn.btn-burger {
        display: unset;
        background: transparent;
        position: absolute;
        left: 19rem;
        top: 2rem;
    }
    .menu {
        display: none;
    }
    .brush {
        position: absolute;
        bottom: -31rem;
        right: -3rem;
        left: -3rem;
        z-index: 2;
    }
    img.img-fluid.brush-home {
        width: 180px
    }
    img.img-banner {
        display: none;
    }
    .main-banner {
        position: absolute;
        bottom: -35rem;
        right: -10rem;
        left: -10rem;
        z-index: 1;
    }
    .tbl-reg {
        position: absolute;
        bottom: -32rem;
        right: 0rem;
        left: 0rem;
        z-index: 2;
    }
    img.img-fluid.tbl-img-reg {
        max-width: 180px;
    }
    .p-win {
        position: absolute;
        bottom: -40rem;
        right: 0rem;
        left: 0rem;
        z-index: 1;
    }
    img.img-fluid.p-winn {
        width: 240px;
    }
    img.img-fluid.woman {
        max-width: 150px
    }
    .woman-home {
        position: absolute;
        right: -6rem;
        z-index: -1;
        top: 24rem;
    }
    .mbm {
        margin-bottom: 2rem !important;
    }
    .color-reg {
        position: absolute;
        bottom: 28rem;
        right: -15px;
    }
    img.img-color-reg {
        width: 80px
    }
    img.img-regtitle {
        width: 90px;
        margin-left: 9rem;
    }
    img.img-partitle {
        width: 230px;
        margin-top: 0rem;
        margin-left: 4rem;
    }
    img.img-btn-reg.a {
        width: 120px;
        position: relative;
        margin-top: 0rem;
        margin-bottom: 0rem;
        margin-right: 0rem;
        top: -2.8rem;
        left: 1rem;
    }
    img.img-btn-reg.b {
        width: 125px;
        margin-top: 0rem;
        margin-bottom: 0rem;
        margin-right: 0rem;
        position: absolute;
        top: -4.7rem;
        left: 0rem;
    }
    .purple-reg {
        position: absolute;
        bottom: -40rem;
        left: -1rem;
    }
    img.img-fluid.purple-regg {
        max-width: 120px
    }
    .man-reggg {
        display: none;
    }
    select.day {
        padding-right: 13rem;
        border: 1px solid #ced4da;
    }
    select.month {
        padding-right: 10rem;
        border: 1px solid #ced4da;
    }
    select.year {
        padding-right: 12.5rem;
        border: 1px solid #ced4da;
    }
    #product {
        display: none;
    }
    #art-d {
        display: none;
    }
    .pd {
        padding-right: 3rem;
    }
    .card.aos-init.aos-animate {
        position: absolute;
        top: 27.5rem;
        left: 4.5rem;
        width: 250px;
        box-shadow: 3px 3px 0px #fff !important;
    }
    img.img-ig-story {
        width: 150px;
    }
}


/* mobile */

@media (min-width: 1281px) {
    img.img-fluid.bnr {
        width: 100% !important;
    }
    img.img-fluid.brsh {
        width: 600px !important;
    }
    img.img-fluid.bg-big-gb {
        width: 450px !important;
    }
    .rel-brush {
        bottom: 0px !important;
    }
    .bg-big {
        bottom: -118px !important;
    }
    .wmbg {
        bottom: -90px !important;
        right: 24px !important;
    }
    img.img-fluid.wmbg {
        width: 400px !important;
    }
    img.img-fluid.reg-hd {
        width: 320px !important;
    }
    .reg-big {
        top: 21rem !important;
        left: -34rem !important;
    }
    img.img-fluid.get-big {
        width: 450px !important;
    }
    .pget-big {
        bottom: 0px;
        top: 35rem !important;
        left: -73rem !important;
    }
}