.hov-menu {
    position: absolute;
    left: -19rem;
    top: 2.3rem;
}

.hov-join {
    position: absolute;
    left: -10.5rem;
    top: 2.3rem;
}

ul.list-group.text-right.d-flex.justify-content-end {
    background-clip: border-box;
    border: solid 1px #0062EB;
    border-radius: 5px;
    margin-top: 0rem;
    left: 0px !important;
    -webkit-box-shadow: 3px 3px 0px #0062eb;
    -moz-box-shadow: 3px 3px 0px #0062EB;
    -o-box-shadow: 3px 3px 0px #0062EB;
    box-shadow: 3px 3px 0px #0062eb;
    z-index: 2 !important;
    margin-bottom: 0px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -17px;
    background-color: #fff;
    border: none;
}

.upload-bg {
    background-image: url("../images/bg-judge.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.bg-log {
    position: absolute;
    bottom: -35.5rem;
    z-index: -1;
}

.bg-2-log {
    position: absolute;
    right: 0px;
    bottom: -36rem;
    z-index: -1;
}

.man-log {
    position: absolute;
    bottom: -41.5rem;
    z-index: 1000;
}

.col-log {
    position: absolute;
    right: 0px;
    bottom: -45rem;
    z-index: 999;
}

.pack-home {
    position: absolute;
    right: 52rem;
    bottom: 3rem;
    z-index: 999;
}

img#img-banner {
    width: 220px;
}

img#btn-reg {
    width: 230px;
}

.isi-home {
    margin-top: 5rem;
}

.isi-home-card {
    margin-top: 10rem;
}

img.img-win {
    width: 650px;
    position: absolute;
    top: 8.8rem;
    left: -4rem;
}

.banner-home-new {
    margin-top: 0rem !important;
}

@media only screen and (min-width:1920px) and (max-height:1080px) {
    .title-forget {
        margin-top: 6rem !important;
    }
    .form-for {
        margin-bottom: 11rem !important;
    }
    .bg-log {
        bottom: -43.5rem;
    }
    .bg-2-log {
        bottom: -44rem;
    }
    .isi-home {
        margin-top: 20rem;
    }
    .isi-home-card {
        margin-top: 25rem;
    }
    .pack-home {
        right: 73.5rem;
        bottom: 4rem;
    }
    .join-new {
        top: -22rem;
        left: 86rem;
    }
    img#btn-reg {
        width: 302px;
    }
    img#img-banner {
        width: 300px;
    }
    .login-card {
        margin-bottom: 8rem;
    }
    .man-log {
        bottom: -49.5rem;
    }
    .col-log {
        bottom: -56rem;
    }
}

img.img-fluid.ig-home {
    margin-top: 0px;
    width: 350px;
}

.card.home-greeting-card {
    margin-top: 70px !important;
    margin-bottom: 80px;
    left: -45px !important;
}

.vw-home {
    margin-top: 10rem !important;
    margin-bottom: -15rem !important;
}

img#img-virtual-1 {
    position: absolute;
    left: 18.5rem;
    bottom: 6rem;
    z-index: -1;
}

img#img-virtual-2 {
    position: absolute;
    left: 6.5rem;
    bottom: 10.5rem;
    z-index: 1;
}

img#img-virtual-3 {
    position: absolute;
    left: 0;
    bottom: -2rem;
}

img.img-fluid.sign-in-home {
    position: absolute;
    left: 8rem;
    bottom: -6rem;
}

.form-for {
    margin-bottom: 3rem;
}

.title-forget {
    margin-top: 3rem;
}

@media screen and (max-width: 480px) {
    img.img-fluid.ig-home {
        margin-top: 2rem;
        width: 230px;
    }
    .isi-home-card {
        margin-top: 3rem;
    }
    .card.home-greeting-card {
        margin-bottom: 40px;
        left: 0px !important;
    }
    .vw-home {
        margin-top: 5rem !important;
        margin-bottom: -7rem !important;
    }
    img#img-virtual-1 {
        left: 9.5rem;
        bottom: 5rem;
        z-index: -1;
        width: 180px;
    }
    ul.cont {
        padding-left: 0px !important;
    }
    img#img-virtual-2 {
        left: 0rem;
        bottom: 8.5rem;
        z-index: 1;
        width: 180px;
    }
    img#img-virtual-3 {
        left: 0rem;
        bottom: 2rem;
        width: 180px;
    }
    img.img-fluid.sign-in-home {
        position: absolute;
        left: 4rem;
        bottom: -3rem;
        width: 85px;
    }
    .footer-home {
        margin-top: 7rem !important;
    }
}